*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
*.sqlite
*.sqlite
*.bin
.vs/osadsad/v17/.wsuo
.vs/ProjectEvaluation/spacebattle.metadata.v7.bin
.vs/ProjectEvaluation/spacebattle.projects.v7.bin
.vs/slnx.sqlite
.vs/Spacebattle/DesignTimeBuild/.dtbcache.v2
.vs/Spacebattle/v17/.futdcache.v2
.vs/VSWorkspaceState.json
.vs/Spacebattle/v17/.suo
.vs/osadsad/v17/.wsuo
.vs/osadsad/v17/workspaceFileList.bin
